<WEBOBJECT NAME=Conditional1>
	<WEBOBJECT NAME=Form1>
		<WEBOBJECT NAME=String1></WEBOBJECT> le <WEBOBJECT NAME=CRIDatePicker1></WEBOBJECT>&nbsp;&nbsp;&nbsp;de <WEBOBJECT NAME=TextField2></WEBOBJECT>h00 &agrave; <WEBOBJECT NAME=TextField3></WEBOBJECT>h00&nbsp;&nbsp;&nbsp;&nbsp;<WEBOBJECT NAME=SubmitButton1></WEBOBJECT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<WEBOBJECT NAME=SubmitButton2></WEBOBJECT>
	</WEBOBJECT>
	<hr>
	<WEBOBJECT NAME=AffichePlanning1></WEBOBJECT>
</WEBOBJECT>
<WEBOBJECT NAME=Conditional2>
	<table cellpadding="0" border="0" WIDTH="100%" cellspacing="0">
		<tr>
			<td align="center" height="20">
				<WEBOBJECT NAME=Form2>
					<WEBOBJECT NAME=Conditional3><WEBOBJECT NAME=SubmitButton3></WEBOBJECT><br/>
					</WEBOBJECT>
				</WEBOBJECT>
			</td>
		</tr>
		<tr>
			<td align="center" height="2">
				<WEBOBJECT NAME=Image1></WEBOBJECT>
			</td>
		</tr>
		<tr>
			<td align="left" valign="top">
				<WEBOBJECT NAME=SwitchComponent1></WEBOBJECT>
			</td>
		</tr>
	</table>
</WEBOBJECT>
