<br/><WEBOBJECT NAME=Conditional1><div align="center"><WEBOBJECT NAME=Form1><WEBOBJECT NAME=PopUpButton1></WEBOBJECT>&nbsp;&nbsp;<WEBOBJECT NAME=SubmitButton1></WEBOBJECT></WEBOBJECT></div>
<div align="center">
<table cellpadding="2" cellspacing="0" border="0">
	<tr>
		<WEBOBJECT NAME=Repetition2>
			<td valign="middle" align="center">
				<WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=GenericContainer2><WEBOBJECT NAME=String13></WEBOBJECT></WEBOBJECT></WEBOBJECT>
			</td>
		</WEBOBJECT>
	</tr>
</table>
<WEBOBJECT NAME=Image1></WEBOBJECT><br/>
<br/>
<WEBOBJECT NAME=Conditional2>
	<b>Planning des r&eacute;unions pour la semaine n&deg;</b><font color="#ff0000"><WEBOBJECT NAME=String11></WEBOBJECT></font><b> (<WEBOBJECT NAME=String12></WEBOBJECT>) <WEBOBJECT NAME=String15></WEBOBJECT></b><br/><br/><WEBOBJECT NAME=CRINavigationBar1></WEBOBJECT><br/>
	<table width="90%" border="0" cellpadding="1" cellspacing="0" class="listboxBorder">
	<tr>
	<td>
	<table width="100%" border=0 cellspacing=1 cellpadding=0>
	<tr class="listboxHeader">
		<td width="10%" align="center"><WEBOBJECT NAME=TriDisplayGroup2></WEBOBJECT>Jour</td>
		<td width="6%" align="center">D&eacute;but</td>
		<td width="6%" align="center">Fin</td>
		<td width="32%" align="center"><WEBOBJECT NAME=TriDisplayGroup3></WEBOBJECT>Objet</td>
		<td width="16%" align="center">Participants</td>
		<td width="30%" align="center"><WEBOBJECT NAME=TriDisplayGroup1></WEBOBJECT>Salle</td>
	</tr>
	<WEBOBJECT NAME=Repetition1>
		<tr class="listboxLine">
			<td align="center" valign="middle"><WEBOBJECT NAME=String1></WEBOBJECT></td>
			<td align="center" valign="middle"><WEBOBJECT NAME=String2></WEBOBJECT></td>
			<td align="center" valign="middle"><WEBOBJECT NAME=String3></WEBOBJECT></td>
			<td align="center" valign="middle"><WEBOBJECT NAME=String4></WEBOBJECT>&nbsp;</td>
			<td align="center" valign="middle">&nbsp;<WEBOBJECT NAME=Repetition3><WEBOBJECT NAME=Hyperlink2><WEBOBJECT NAME=String5></WEBOBJECT></WEBOBJECT><br/></WEBOBJECT><WEBOBJECT NAME=Conditional4><WEBOBJECT NAME=Hyperlink3><font size="1">(suite)</font></WEBOBJECT></WEBOBJECT></td>
			<td align="center" valign="middle">&nbsp;<b><WEBOBJECT NAME=String8></WEBOBJECT></b>&nbsp;&nbsp;&nbsp;<font size="1">(B&acirc;timent : <WEBOBJECT NAME=String6></WEBOBJECT>&nbsp;&nbsp;-&nbsp;&nbsp;<WEBOBJECT NAME=String7></WEBOBJECT>)</font></td>
		</tr>
	</WEBOBJECT>
	</table>
	</td>
	</tr>
	</table>
</WEBOBJECT>
<WEBOBJECT NAME=Conditional3><br/>
<font color="#9b0000">Aucune r&eacute;union pour la semaine <WEBOBJECT NAME=String9></WEBOBJECT> (<WEBOBJECT NAME=String10></WEBOBJECT>) <WEBOBJECT NAME=String14></WEBOBJECT>...</font></WEBOBJECT></div><br/><br/><br/><br/><hr><div align="left">Informations:<ul><li>Les num&eacute;ros corespondent aux num&eacute;ros des semaines.</li><li>Le num&eacute;ro en rouge indique la semaine en cours.</li><li>Il vous suffit de cliquer sur un num&eacute;ro pour afficher le planning corespondant.</li></ul></div></WEBOBJECT><WEBOBJECT NAME=CRIHTMLFooter1></WEBOBJECT>
