<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<WEBOBJECT NAME=Form1>
			<b>Ajout dans l'agenda</b><br/>
			<WEBOBJECT NAME=Conditional4>
				<b>Evenement prevu du <WEBOBJECT NAME=String4></WEBOBJECT> <WEBOBJECT NAME=String5></WEBOBJECT> <WEBOBJECT NAME=String6></WEBOBJECT> <WEBOBJECT NAME=String7></WEBOBJECT> au <WEBOBJECT NAME=String8></WEBOBJECT> <WEBOBJECT NAME=String9></WEBOBJECT> <WEBOBJECT NAME=String10></WEBOBJECT> <WEBOBJECT NAME=String11></WEBOBJECT></b>
				<hr>
				<WEBOBJECT NAME=Conditional1>
					<webobject name="Conditional6">
						<b>Appliquer cette r&eacute;servation aux semaines suivantes: </b><webobject name="TextField10"></webobject> (exemple : 29-32;35) <b>de l'ann&eacute;e </b><webobject name="PopUpButton2"></webobject><br/>
						<br/>
						<b>Applique cette r&eacute;servation aux jours de la semaine :</b><br/>
						<WEBOBJECT NAME=CheckBox1></WEBOBJECT><b>Lundi &nbsp;<WEBOBJECT NAME=CheckBox2></WEBOBJECT>Mardi &nbsp;<WEBOBJECT NAME=CheckBox3></WEBOBJECT>Mercredi &nbsp;<WEBOBJECT NAME=CheckBox4></WEBOBJECT>Jeudi &nbsp;<WEBOBJECT NAME=CheckBox5></WEBOBJECT>Vendredi &nbsp;<WEBOBJECT NAME=CheckBox6></WEBOBJECT>Samedi &nbsp;<WEBOBJECT NAME=CheckBox7></WEBOBJECT>Dimanche<br/>
						</b>
					</webobject>
					<br/>
					<b>De</b> <WEBOBJECT NAME=TextField2></WEBOBJECT><b>h</b><WEBOBJECT NAME=TextField3></WEBOBJECT><b>mn &nbsp;&agrave; &nbsp;</b><WEBOBJECT NAME=TextField4></WEBOBJECT><b>h</b><WEBOBJECT NAME=TextField5></WEBOBJECT><b>mn</b><br/>
				</WEBOBJECT>
				<WEBOBJECT NAME=Conditional2><br/>
					<webobject name="Conditional8">
						<b>Du</b> <WEBOBJECT NAME=CRIDatePicker1></WEBOBJECT> &nbsp;&nbsp; <WEBOBJECT NAME=TextField9></WEBOBJECT><b>h</b><WEBOBJECT NAME=TextField8></WEBOBJECT><b>mn&nbsp;&nbsp;&nbsp;au&nbsp;&nbsp;&nbsp;</b><WEBOBJECT NAME=CRIDatePicker2></WEBOBJECT>&nbsp;&nbsp; &nbsp;<WEBOBJECT NAME=TextField7></WEBOBJECT><b>h</b><WEBOBJECT NAME=TextField6></WEBOBJECT><b>mn</b><br/>
					</webobject>
				</WEBOBJECT>
			</WEBOBJECT>
			<br/>
			<WEBOBJECT NAME=Conditional5>
				<b>Evenement prevu du <WEBOBJECT NAME=String2></WEBOBJECT> jusqu'au <WEBOBJECT NAME=String3></WEBOBJECT></b><br/>
			</WEBOBJECT>
			<br/>
			<b>Objet :</b><br/>
			<WEBOBJECT NAME=Text1></WEBOBJECT><br/>
			<webobject name="Conditional7">
				<br/>
				<b>Enregistrement : <WEBOBJECT NAME=RadioButton1></WEBOBJECT>Priv&eacute;&nbsp;&nbsp;&nbsp;<WEBOBJECT NAME=RadioButton2></WEBOBJECT>Public&nbsp;&nbsp;<webobject name="RadioButton3"></webobject>Service</b><br/>
			</webobject>
			<br/>
			<WEBOBJECT NAME=SubmitButton1></WEBOBJECT>&nbsp;&nbsp;&nbsp;<WEBOBJECT NAME=SubmitButton2></WEBOBJECT>
			</WEBOBJECT>
			<br/>
			<webobject name="Conditional3">
				<b><font color="#ff0000">Erreur lors de la sauvegarde:<br/></font></b><webobject name="String1"></webobject>
			</webobject>
		</td>
	</tr>
</table>
