<webobject name = "Conditional6">
  <br />
  <br />
  <p align = "center">
    <font face = "Times, Serif">
      <font size = "3">S&eacute;lectionner un objet dans le menu &agrave; visualiser.</font>
    </font>
    <br />
    <br />
    <br />
  </p>
</webobject>
<webobject name = "Conditional1">
  <webobject name = "Conditional4">
    <h2>
      R&eacute;servation de l'objet :
      <webobject name = "String1"></webobject>
    </h2>
    <table cellpadding = "2" cellspacing = "2" border = "0">
      <tr>
        <td valign = "top">
          <font size = "2">Liste des d&eacute;positaires :</font>
        </td>
        <td valign = "top">
          <webobject name = "Repetition1">
            <font size = "2">
              <webobject name = "String2"></webobject>
            </font>
            <webobject name = "Conditional3">
              <webobject name = "Conditional2">
                &nbsp;&nbsp;&nbsp;
                <webobject name = "Hyperlink1">(...)</webobject>
              </webobject>
            </webobject>
            <font size = "2">
              <br />
            </font>
          </webobject>
        </td>
      </tr>
    </table>
    <webobject name = "AffichePlanning1"></webobject>
  </webobject>
  <webobject name = "Conditional5">
    <webobject name = "EnregistrementOccupationObjet1"></webobject>
  </webobject>
</webobject>