<HTML>
<HEAD>
	<TITLE>Information r&eacute;servation</TITLE>
</HEAD>
<body style="fond">
<div align="center">
<WEBOBJECT NAME=Form1>
	<table cellpadding="0" border="0" cellspacing="0">
		<tr>
			<td>Date de d&eacute;but : <WEBOBJECT NAME=TextField1></WEBOBJECT></td>
			<td>Date de fin : <WEBOBJECT NAME=TextField2></WEBOBJECT></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><WEBOBJECT NAME=Text1></WEBOBJECT></td>
		</tr>
		<tr>
			<td align="right"><WEBOBJECT NAME=SubmitButton1></WEBOBJECT>&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;<WEBOBJECT NAME=SubmitButton2></WEBOBJECT></td>
		</tr>
		<WEBOBJECT NAME=Conditional1>
			<tr>
				<td colspan="2" align="center"><font color="#ff0000"><WEBOBJECT NAME=String1></WEBOBJECT></font></td>
			</tr>
		</WEBOBJECT>
	</table>
</WEBOBJECT>
</div>
</body>
</html>
