<HTML>
<HEAD>
	<TITLE>Information r&eacute;servation</TITLE>
</HEAD>
<body style="fond">
<style type="text/css">
.monDisplayNoneAMoi {display:none}
</style>
<div align="center">
	<br/>
	<WEBOBJECT NAME=Conditional1>
		<div align="center">
		<WEBOBJECT NAME=Form1>
			<b>Voulez-vous supprimer cette r&eacute;servation ?</b><br/>
			<WEBOBJECT NAME=SubmitButton1></WEBOBJECT>&nbsp;&nbsp;&nbsp;&nbsp;<WEBOBJECT NAME=SubmitButton2></WEBOBJECT>
		</WEBOBJECT>
		</div>
	</WEBOBJECT>
	<WEBOBJECT NAME=Conditional4>
		<div align="center">
			<WEBOBJECT NAME=Conditional2>
				<p><b>La r&eacute;servation a
					&eacute;t&eacute; supprim&eacute;e !</b></p>
			</WEBOBJECT>
			<WEBOBJECT NAME=Conditional3>
				<p><b>La r&eacute;servation n'a pas
					&eacute;t&eacute; supprim&eacute;e !<br/><webobject name="String1"></webobject></b></p>
			</WEBOBJECT>
			<BR>
			<div class="aCacherDansEnt">
			<WEBOBJECT NAME=FormFermer>
				<WEBOBJECT name=ButtonFermerFenetre></WEBOBJECT>
			</WEBOBJECT>
			</div>
			<div class="monDisplayNoneAMoi">
			<WEBOBJECT NAME=FormFermerEnt>
				<WEBOBJECT name=ButtonFermerFenetreEnt></WEBOBJECT>
			</WEBOBJECT>
			</div>
		</div>
	</WEBOBJECT>
</div>
</body>
</html>
