<HTML>
<HEAD>
	<TITLE>Information r&eacute;servation</TITLE>
</HEAD>
<body style="fond">
<style type=text/css>
.monDisplayNoneAMoi {display:none}
</style>

<div align="center">
<table cellpadding="0" border="0" cellspacing="0">
	<tr>
		<td valign="top">
			<WEBOBJECT NAME=String1></WEBOBJECT><br/>
			<WEBOBJECT NAME=String3></WEBOBJECT><br/>
			<br/>
			<b><i>D&eacute;but : </i></b><WEBOBJECT NAME=String4></WEBOBJECT><br/>
			<b><i>Fin : </i></b><WEBOBJECT NAME=String5></WEBOBJECT></td>
	</tr>
</table>
<WEBOBJECT NAME=Conditional1>
	<WEBOBJECT NAME=Repetition1>
		<WEBOBJECT NAME=String2></WEBOBJECT><br/>
		<WEBOBJECT NAME=String6></WEBOBJECT><br/>
		<WEBOBJECT NAME=String7></WEBOBJECT><br/>
		<WEBOBJECT NAME=String8></WEBOBJECT><br/>
		<WEBOBJECT NAME=String9></WEBOBJECT><br/>
		<WEBOBJECT NAME=String10></WEBOBJECT><br/>
		<WEBOBJECT NAME=String11></WEBOBJECT><br/>
		<WEBOBJECT NAME=String12></WEBOBJECT><br/>
	</WEBOBJECT>
</WEBOBJECT>
<WEBOBJECT NAME=Conditional2>
	<br/>
	<WEBOBJECT NAME=Form1>
		<WEBOBJECT NAME=Conditional3>
			<WEBOBJECT NAME=Conditional5>
				<WEBOBJECT NAME=SubmitButton1></WEBOBJECT>
			</WEBOBJECT>
		</WEBOBJECT>
		&nbsp;&nbsp;
		<WEBOBJECT NAME=Conditional4>
			<WEBOBJECT NAME=Conditional6>
				<WEBOBJECT NAME=SubmitButton2></WEBOBJECT>
			</WEBOBJECT>
		</WEBOBJECT>
	</WEBOBJECT>
</WEBOBJECT>
<BR>
<div class="aCacherDansEnt">
<WEBOBJECT NAME=FormFermer>
<WEBOBJECT name=ButtonFermerFenetre></WEBOBJECT>
</WEBOBJECT>
</div>
<div class="monDisplayNoneAMoi">
<WEBOBJECT NAME=FormFermerEnt>
<WEBOBJECT name=ButtonFermerFenetreEnt></WEBOBJECT>
</WEBOBJECT>
</div>
</div>
</body>
</HTML>