<WEBOBJECT NAME=Form1>
	<WEBOBJECT NAME=PopUpButton1></WEBOBJECT>
</WEBOBJECT>
<br/>
<br/>
<WEBOBJECT NAME=Conditional1>
	<WEBOBJECT NAME=Repetition1>
		<WEBOBJECT NAME=Image1></WEBOBJECT>&nbsp;
		<WEBOBJECT NAME=GenericContainer1>
			<WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=String1></WEBOBJECT></WEBOBJECT>
		</WEBOBJECT>
		<br/>
	</WEBOBJECT>
</WEBOBJECT>
<WEBOBJECT NAME=Conditional2>
	<WEBOBJECT NAME=Repetition2>
		<WEBOBJECT NAME=Image2></WEBOBJECT>&nbsp;
		<WEBOBJECT NAME=GenericContainer2>
			<WEBOBJECT NAME=Hyperlink2><WEBOBJECT NAME=String2></WEBOBJECT></WEBOBJECT>
		</WEBOBJECT>
		<br/>
	</WEBOBJECT>
</WEBOBJECT>
