MAIN_WEB_SITE_URL=http://www.univ-lr.fr
MAIN_LOGO_URL=http://www.univ-lr.fr/image_partagee/ULRLogo90.gif
ADMIN_MAIL=webmaster@univ-lr.fr
DOMAIN_NAME=univ-lr.fr

###################
#Config application
###################
APP_ADMIN_PASSWORD=FtQGv.FH9DPhc
APP_ID=EDTSCOL
APP_ALIAS=EDTWeb
APP_TITLE=EDTWEB
APP_USE_MAIL=YES
APP_USE_GEDFS=YES
APP_URL=http://www.univ-lr.fr/cgi-bin/WebObjects/EDTWeb
APP_USE_DIPLOMES=YES
APP_USE_EXAMENS=NO
APP_USE_SERVEUR_PLANNING=YES

####################
#Config Saut
####################
SAUT_URL=http://jane.univ-lr.fr/cgi-bin/WebObjects/ServAut.woa/wa/
SAUT_ID_TRANSLATION=ULOGIN:ULOGIN,EDTSCOL:COUR

NET_NO_PROXY_HOSTS=*.univ-lr.fr

####################
#Trace de l'application
####################
# (YES/NO) Affiche ou non les logs SQL (lourd, pour déboguage uniquement)
SQL_DEBUG=NO
# Email de redirection... si renseigné tous les mails applicatifs sont envoyés à cette adresse
EMAIL_REDIRECTION=
# Email de redirection des erreurs... si renseigné les mails d'erreur sont envoyés à cette adresse, sinon pas de mail d'erreur
EMAIL_ERREUR=pdm@univ-lr.fr

####################
#Utilisation du CAS
####################
#utilisation de l'identification CAS
APP_USE_CAS=YES

####################
#Variable de l'application
####################
# A ne definir que si on veut overrider la valeur de grhum_parametres
#DEFAULT_TIME_ZONE=Europe/Paris
HEURE_DEBUT=8
HEURE_FIN=19
NB_WEEK_ICAL=16
LOGIN_ADMIN=pdemeyer
ACTIVATION_MODIF=1
ACTIVATION_SUPP=1

#Sert a savoir le mode des couleurs 
#actuellement ton orange pr ton bleu mettre
# #d8f0ff #d8f0ff #a3d4ff #0e81ff

COULTCLAIR=#fffaa0
COULCLAIR=#f8d447
COULFONCE=#ecaa24
COULTFONCE=#ac3415

#IMAGE_FOND_MENU=../fondMenu250.jpg

URL_SUPERPLAN=http://apps.univ-lr.fr/cgi-bin/WebObjects/SuperPlan.woa/1/eowebstart/com.webobjects.eodistribution._EOWebStartAction/webStart/JavaClient.jnlp

# URL complete d'acces au serveur de planning pour le iCalendarOccupations, utile pour recuperer l'agenda public ical
URL_SERVEUR_PLANNING=http://apps.univ-lr.fr/cgi-bin/WebObjects/ServeurPlanning.woa/wa/iCalendarOccupations?login=

####################
#Formatage des noms des plannings PDF 
####################
#%S = semestre 
#%s = semaine
#%Y = année
#%g = groupe
FORMAT_PLANNING=PDF_EDT_%S_%s_%Y
FORMAT_PLANNING_GRP=PDF_EDT_%S_%s_%Y_%g

# Si défini, surclasse l'année en cours; sinon prend l'année scolaire en cours dans la scol (ScolFormationAnnee avec fannCourante à 'O')
ANNEE_EN_COURS=2009
