<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">

<html>
<head/>
<body>
<h1>Composants:</h1>AffichageInfoReservation., AffichePlanning., AjoutResa., Carnet., ChoixDate., EDTDiplome., EDTExamen., EDTExamenMenu., EDTIndividu., EDTIndividuChoisi., EDTIndividuChoix., EDTIndividuInfo., EDTIndividuInfoPublic., EDTIndividuPublic., EDTIndividuPublicICal., EDTLogin., EDTObjetMenu., EDTObjetPlanning., EDTReunion., EDTReunionMenu., EDTSalleMenu., EDTSallePlanning., EnregistrementOccupationIndividu., EnregistrementOccupationObjet., FormulaireLudo., Main., ModifierOccupationIndividu., MyDiv., PlanningMois., PlanningMTexte., PlanningParJour., PublishCalendarPage., services., SupprimerOccupationIndividu.
<h1>Fichiers html:</h1><pre>WARNING: script sans type dans AffichePlanning.html ! Ajout de text/javascript
WARNING: script sans type dans AffichePlanning.html ! Ajout de text/javascript
WARNING: script sans type dans services.html ! Ajout de text/javascript
</pre><h2>Couleurs utilisées:</h2>
<ul>
<li>1 : <span style="color:#cd0000;">cd0000</span></li>
<li>1 : <span style="color:#cb4800;">cb4800</span></li>
<li>2 : <span style="color:#424242;">424242</span></li>
<li>1 : <span style="color:#ffaaaa;">ffaaaa</span></li>
<li>2 : <span style="color:#757575;">757575</span></li>
<li>1 : <span style="color:#fff0f0;">fff0f0</span></li>
<li>1 : <span style="color:#cc2d0d;">cc2d0d</span></li>
<li>6 : <span style="color:#ff0000;">ff0000</span></li>
<li>1 : <span style="color:#9b0000;">9b0000</span></li>
<li>6 : <span style="color:#eeeeff;">eeeeff</span></li>
<li>26 : <span style="color:#ffffff;">ffffff</span></li>
<li>10 : <span style="color:#000000;">000000</span></li>
</ul>
<h2>WARNING: balises CENTER utilisées dans les composants:</h2>EDTDiplome.html, EDTExamen.html, EDTReunion.html, PlanningMTexte.html, SupprimerOccupationIndividu.html<p> -> Remplacées par div align="center"</p>
<h1>Fichiers wod:</h1>
<pre>WARNING: type="text/javascript" ajouté dans AffichePlanning.wod ! (1 fois)
WARNING: identifiant des formulaires ajoutés dans EDTDiplome.wod ! (2 fois)
WARNING: identifiant des formulaires ajoutés dans EDTExamen.wod ! (2 fois)
WARNING: identifiant des formulaires ajoutés dans EDTExamenMenu.wod ! (2 fois)
WARNING: identifiant des formulaires ajoutés dans EDTIndividu.wod ! (1 fois)
WARNING: identifiant des formulaires ajoutés dans EDTIndividuChoisi.wod ! (1 fois)
WARNING: identifiant des formulaires ajoutés dans EDTIndividuPublic.wod ! (2 fois)
WARNING: identifiant des formulaires ajoutés dans EDTReunion.wod ! (2 fois)
WARNING: identifiant des formulaires ajoutés dans EnregistrementOccupationIndividu.wod ! (1 fois)
WARNING: identifiant des formulaires ajoutés dans EnregistrementOccupationObjet.wod ! (1 fois)
WARNING: type="text/javascript" ajouté dans Main.wod ! (1 fois)
WARNING: type="text/javascript" ajouté dans PlanningMois.wod ! (1 fois)
WARNING: type="text/javascript" ajouté dans PlanningParJour.wod ! (1 fois)
</pre>
</body>
</html>