<WEBOBJECT NAME=Form1>
<table width="60%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td colspan="2" align="center">
			<b><font color="#cd0000">Vous &ecirc;tes super-utilisateur !</font></b><br/>
			<br/>
		</td>
	</tr>
	<WEBOBJECT NAME=Conditional1>
		<tr>
			<td align="center">
				<WEBOBJECT NAME=SubmitButton1></WEBOBJECT>
			</td>
			<td align="center">
				<WEBOBJECT NAME=SubmitButton2></WEBOBJECT>
			</td>
		</tr>
	</WEBOBJECT>
	<WEBOBJECT NAME=Conditional2>
		<tr>
			<td align="right">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>Nom : </td>
						<td><WEBOBJECT NAME=TextField1></WEBOBJECT></td>
					</tr>
					<tr>
						<td>Pr&eacute;nom :&nbsp;</td>
						<td><WEBOBJECT NAME=TextField2></WEBOBJECT></td>
					</tr>
				</table>
			</td>
			<td align="left">
				<WEBOBJECT NAME=SubmitButton3></WEBOBJECT>
			</td>
		</tr>
	</WEBOBJECT>
	<WEBOBJECT NAME=Conditional3>
		<tr>
			<td align="right">
				<WEBOBJECT NAME=Browser1></WEBOBJECT>
			</td>
			<td align="center">
				<WEBOBJECT NAME=SubmitButton4></WEBOBJECT><br/>
				<br/>
				<WEBOBJECT NAME=SubmitButton5></WEBOBJECT>
			</td>
		</tr>
	</WEBOBJECT>
</table>
</WEBOBJECT>
