<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center">
			<div ID=overDiv STYLE="position:absolute; visibility:hidden; z-index:1000;"><br/>
			</div>
			<WEBOBJECT NAME=JavaScript1>
			<!-- overLIB (c) Erik Bosrup -->
			</WEBOBJECT>
			<script type="text/javascript" language="javascript">
//<![CDATA[
	
var ol_delay = 300; 
var ol_width = 200; 
var ol_offsetx = 15; 
var ol_offsety = 15; 
var ol_css = CSSCLASS; 
var ol_bgclass = "previewTitleBox"; 
var ol_captionfontclass = "previewTitleText"; 
var ol_fgclass = "previewContentBox"; 
var ol_textfontclass = "previewContentText";

//]]>
</script>
<script type="text/javascript">
//<![CDATA[

var infoResa;

//]]>
</script>
<style type=text/css>
.monDisplayNoneAMoi {display:none}
</style>
<WEBOBJECT NAME=Conditional8>
	<WEBOBJECT NAME=Conditional6>
		<WEBOBJECT NAME=Form3>
			<WEBOBJECT NAME=Conditional10>
				<WEBOBJECT NAME=SubmitButton3></WEBOBJECT>
			</WEBOBJECT>
		</WEBOBJECT>
	</WEBOBJECT>
</WEBOBJECT>
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<WEBOBJECT NAME=Conditional2><table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="bottom"><table cellpadding="0" cellspacing="0" border="0"><tr><td colspan="2"><b>Cr&eacute;neau horaire s&eacute;lectionn&eacute; :</b></td></tr><tr><td><b>Date de d&eacute;but :</b></td><td align="right"><WEBOBJECT NAME=String6></WEBOBJECT></td></tr><tr><td><b>Date de fin :</b></td><td align="right"><WEBOBJECT NAME=String7></WEBOBJECT></td></tr><tr><td colspan="2" align="center"><WEBOBJECT NAME=Form2><WEBOBJECT NAME=SubmitButton1></WEBOBJECT>&nbsp;&nbsp;&nbsp;<WEBOBJECT NAME=SubmitButton2></WEBOBJECT></WEBOBJECT></td></tr></table></td>
					<td align="right" valign="bottom">
						<WEBOBJECT NAME=Conditional7><table cellpadding="0" border="1" cellspacing="0">
							<tr>
								<td rowspan="4">Legende:</td>
								<td BGcolor="#ffffff" align="center">&nbsp;</td>
								<td align="center">Tous disponibles</td>
							</tr>
							<tr>
								<td BGcolor="#ffaaaa" align="center">&nbsp;&nbsp;n&nbsp;&nbsp;</td>
								<td align="center">n disponibles</td>
							</tr>
							<tr>
								<td BGcolor="#ff0000" align="center">&nbsp;&nbsp;0&nbsp;&nbsp;</td>
								<td align="center">Aucun Disponible</td>
							</tr>
							<tr>
								<WEBOBJECT NAME=GenericContainer4></WEBOBJECT>
								<td align="center">Cr&eacute;neau horaire s&eacute;lectionn&eacute;</td>
							</tr>
						</table></WEBOBJECT>
					</td>
				</tr>
			</table></WEBOBJECT><br/>
		</td><td></td>
	</tr>
	<tr>
		<td>
			<WEBOBJECT NAME=GenericContainer5><WEBOBJECT NAME=GenericContainer6><WEBOBJECT NAME=GenericContainer3><WEBOBJECT NAME=Conditional9><b>Planning par semaine&nbsp;<WEBOBJECT NAME=Conditional4> des
						<WEBOBJECT NAME=String8></WEBOBJECT></WEBOBJECT></b></WEBOBJECT><b><WEBOBJECT NAME=String9></WEBOBJECT></b></WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=GenericContainer7><WEBOBJECT NAME=GenericContainer1>
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td valign="top"><WEBOBJECT NAME=Hyperlink4><WEBOBJECT NAME=Image2></WEBOBJECT></WEBOBJECT>&nbsp;&nbsp;</td>
								<td valign="top"><WEBOBJECT NAME=Hyperlink2><WEBOBJECT NAME=Image4></WEBOBJECT></WEBOBJECT>&nbsp;&nbsp;</td>
								<td align="center"><WEBOBJECT NAME=String4></WEBOBJECT>&nbsp;&nbsp;&nbsp;Semaine&nbsp;&nbsp;&nbsp;<WEBOBJECT NAME=String1></WEBOBJECT></td>
								<td valign="top">&nbsp;&nbsp;<WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=Image3></WEBOBJECT></WEBOBJECT></td>
								<td valign="top">&nbsp;&nbsp;<WEBOBJECT NAME=Hyperlink3><WEBOBJECT NAME=Image1></WEBOBJECT></WEBOBJECT></td>
							</tr>
						</table>
					</WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=GenericContainer8><WEBOBJECT NAME=Repetition2>
						<td align="center" valign="top">
							<table width="100%" border="0" cellspacing="1" cellpadding="1">
								<tr>
									<td align="center"></td>
								</tr>
								<WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=Repetition1>
										<tr>
											<td height="50" align="center">
												<table cellpadding="0" cellspacing="0" border="0">
													<WEBOBJECT NAME=Conditional5>
														<tr>
															<td></td>
															<td align="center" valign="top"><WEBOBJECT NAME=String5></WEBOBJECT></td>
														</tr>
													</WEBOBJECT>
													<tr>
														<td valign="top" align="left"><WEBOBJECT NAME=Conditional3><WEBOBJECT NAME=String2></WEBOBJECT>&nbsp;</WEBOBJECT>&nbsp;</td>
														<WEBOBJECT NAME=GenericContainer2><WEBOBJECT NAME=String3></WEBOBJECT><br/></WEBOBJECT>
													</tr>
												</table>
											</td>
										</tr>
									</WEBOBJECT></WEBOBJECT>
							</table>
						</td>
					</WEBOBJECT></WEBOBJECT><WEBOBJECT NAME=Repetition3></WEBOBJECT></WEBOBJECT>
		</td><td><WEBOBJECT NAME=Hyperlink7><WEBOBJECT NAME=Image5></WEBOBJECT></WEBOBJECT></td>
	</tr>
</table>
<WEBOBJECT NAME=Form1><WEBOBJECT NAME=HiddenField1></WEBOBJECT> <WEBOBJECT NAME=HiddenField2></WEBOBJECT></WEBOBJECT>
</td></tr></table>