<!-- Main menu entries -->
<table width=100% border=0 cellspacing=2 cellpadding=0>
<WEBOBJECT NAME=repetMainMenu>
<WEBOBJECT NAME=siMainSelectedNO>
<tr valign=top><td width=3% align=right>
  <WEBOBJECT NAME=linkMainSelected><WEBOBJECT NAME=imgMainNotSelected></WEBOBJECT></WEBOBJECT>
</td><td align=left>
  <font class="menuItem"><WEBOBJECT NAME=linkMainSelected><WEBOBJECT NAME=strMainSelected></WEBOBJECT></WEBOBJECT></font>
</td></tr>
</WEBOBJECT>

<WEBOBJECT NAME=siMainSelectedYES>
<tr valign=top><td width=3% align=right>
  <WEBOBJECT NAME=linkMainSelected><WEBOBJECT NAME=imgMainSelected></WEBOBJECT></WEBOBJECT>
</td><td align=left>
  <WEBOBJECT NAME=linkMainSelected><font class="menuItemSelected"><WEBOBJECT NAME=strMainSelected></WEBOBJECT></font></WEBOBJECT>

<!-- Selected SubMenu entries -->
  <table width=100% border=0 cellspacing=2 cellpadding=0>
  <WEBOBJECT NAME=repetSubMenu>
  <WEBOBJECT NAME=siSubSelectedNO>
  <tr valign=top><td width=5% align=right>
    <WEBOBJECT NAME=linkSubSelected><WEBOBJECT NAME=imgMainNotSelected></WEBOBJECT></WEBOBJECT>
  </td><td align=left>
    <font class="menuSubItem"><WEBOBJECT NAME=linkSubSelected><WEBOBJECT NAME=strSubSelected></WEBOBJECT></WEBOBJECT></font>
  </td></tr>
  </WEBOBJECT>

  <WEBOBJECT NAME=siSubSelectedYES>
  <tr valign=top><td width=5% align=right>
    <WEBOBJECT NAME=linkSubSelected><WEBOBJECT NAME=imgMainSelected></WEBOBJECT></WEBOBJECT>
  </td><td align=left> 
    <WEBOBJECT NAME=linkSubSelected><font class="menuSubItemSelected"><WEBOBJECT NAME=strSubSelected></WEBOBJECT></font></WEBOBJECT>
  </td></tr>
  </WEBOBJECT>

  </WEBOBJECT>
  </table>
<!-- END: Selected SubMenu entries -->
</td></tr>
</WEBOBJECT>

</WEBOBJECT>
</table>
<!-- END: Main menu entrie -->
