<WEBOBJECT NAME=EDTDefaultPage1>
	<WEBOBJECT NAME=GenericContainer1>
		<tr>
			<WEBOBJECT NAME=GenericContainer2>
				<div class="logo"><p align="center"><font size="1"><WEBOBJECT NAME=Hyperlink3><WEBOBJECT NAME=Image3></WEBOBJECT></WEBOBJECT></font></p></div>
				
				<WEBOBJECT NAME=Conditional3>
					<WEBOBJECT NAME=EDTObjetMenu1></WEBOBJECT><br/>
					<WEBOBJECT NAME=ChoixDate1></WEBOBJECT><br/>
					<WEBOBJECT NAME=ConditionalAjoutResaObjet>
						<WEBOBJECT NAME=AjoutResa1></WEBOBJECT>
					</WEBOBJECT>
				</WEBOBJECT>
				
				<WEBOBJECT NAME=Conditional5>
					<WEBOBJECT NAME=ChoixDate1></WEBOBJECT><br/>
					<WEBOBJECT NAME=Conditional25>
						<WEBOBJECT NAME=AjoutResa1></WEBOBJECT>
					</WEBOBJECT><br/>
				</WEBOBJECT>
				
				<WEBOBJECT NAME=Conditional21>
					<br/>
					<WEBOBJECT NAME=ChoixDate1></WEBOBJECT><br/>
					<WEBOBJECT NAME=Conditional29><WEBOBJECT NAME=AjoutResa1></WEBOBJECT></WEBOBJECT><br/>
				</WEBOBJECT>
				
				<WEBOBJECT NAME=Conditional6>
					<WEBOBJECT NAME=EDTSalleMenu1></WEBOBJECT><br/>
					<WEBOBJECT NAME=ChoixDate1></WEBOBJECT><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;<WEBOBJECT NAME=Hyperlink9>R&eacute;server une salle</WEBOBJECT>
				</WEBOBJECT>
				
				<WEBOBJECT NAME=Conditional10>
					<WEBOBJECT NAME=EDTReunionMenu1></WEBOBJECT>
				</WEBOBJECT>
				
				<WEBOBJECT NAME=Conditional12>
					<WEBOBJECT NAME=EDTExamenMenu1></WEBOBJECT>
				</WEBOBJECT>
				
				<WEBOBJECT NAME=Conditional16>
					<WEBOBJECT NAME=EDTExamenMenu1></WEBOBJECT>
				</WEBOBJECT>
				
				<WEBOBJECT NAME=Conditional15>
					<WEBOBJECT NAME=ChoixDate1></WEBOBJECT><br/>
					<WEBOBJECT NAME=EDTIndividuInfoPublic1></WEBOBJECT><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<WEBOBJECT NAME=Hyperlink8>Agenda iCAL<WEBOBJECT NAME=Image4></WEBOBJECT></WEBOBJECT>
				</WEBOBJECT><br/>
			</WEBOBJECT>
			
			<td width="20">&nbsp;</td>
			
			<td valign="top">
				<WEBOBJECT NAME=GenericContainer3>
					<tr>
						<td valign="top">
							<WEBOBJECT NAME=Conditional1>
								<br/>
								<br/>
								<p align="center"><WEBOBJECT NAME=EDTLogin1></WEBOBJECT></p>
							</WEBOBJECT>
							<WEBOBJECT NAME=Conditional2>
								<div class="aCacherDansEnt"><p align="center"><WEBOBJECT NAME=EDTIndividuInfo1></WEBOBJECT></p></div>
								<WEBOBJECT NAME=TabPanel1>
								<!-- <WEBOBJECT NAME=QuotidienneConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><br/></WEBOBJECT> -->
								<WEBOBJECT NAME=HebdomadaireConditional><WEBOBJECT NAME=EDTIndividu1></WEBOBJECT><br/></WEBOBJECT>
								<WEBOBJECT NAME=MensuelleCalendrierConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><br/></WEBOBJECT>
								<WEBOBJECT NAME=MensuelleTexteConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><br/></WEBOBJECT>
								<WEBOBJECT NAME=TableauDeBordConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><br/></WEBOBJECT>
								</WEBOBJECT>
							</WEBOBJECT>
							<WEBOBJECT NAME=Conditional4>
								<p>
								<WEBOBJECT NAME=TabPanel4>
								<!-- <WEBOBJECT NAME=QuotidienneConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><br/></WEBOBJECT>-->
								<WEBOBJECT NAME=HebdomadaireConditional><WEBOBJECT NAME=EDTObjetPlanning1></WEBOBJECT><br/></WEBOBJECT>
								<WEBOBJECT NAME=MensuelleCalendrierConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><br/></WEBOBJECT>
								<WEBOBJECT NAME=MensuelleTexteConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><br/></WEBOBJECT>
								<WEBOBJECT NAME=TableauDeBordConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><br/></WEBOBJECT>
								</WEBOBJECT>
								</p>
							</WEBOBJECT>
							<WEBOBJECT NAME=Conditional7>
								<p>
								<WEBOBJECT NAME=TabPanel3>
								<!-- <WEBOBJECT NAME=QuotidienneConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></WEBOBJECT>-->
								<WEBOBJECT NAME=HebdomadaireConditional><WEBOBJECT NAME=EDTSallePlanning1></WEBOBJECT>	</WEBOBJECT>
								<WEBOBJECT NAME=MensuelleCalendrierConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></WEBOBJECT>
								<WEBOBJECT NAME=MensuelleTexteConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></WEBOBJECT>
								<WEBOBJECT NAME=TableauDeBordConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></WEBOBJECT>
								</WEBOBJECT>
								</p>
							</WEBOBJECT>
							<WEBOBJECT NAME=Conditional9>
								<WEBOBJECT NAME=EDTReunion1></WEBOBJECT>
							</WEBOBJECT>
							<WEBOBJECT NAME=Conditional13>
								<WEBOBJECT NAME=EDTExamen1></WEBOBJECT>
							</WEBOBJECT>
							<WEBOBJECT NAME=Conditional14>
								<p>
								<WEBOBJECT NAME=TabPanel2>
								<!-- <WEBOBJECT NAME=QuotidienneConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></WEBOBJECT>-->
								<WEBOBJECT NAME=HebdomadaireConditional><WEBOBJECT NAME=EDTIndividuPublic1></WEBOBJECT>	</WEBOBJECT>
								<WEBOBJECT NAME=MensuelleCalendrierConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></WEBOBJECT>
								<WEBOBJECT NAME=MensuelleTexteConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></WEBOBJECT>
								<WEBOBJECT NAME=TableauDeBordConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></WEBOBJECT>
								</WEBOBJECT>
								</p>
							</WEBOBJECT>
							<WEBOBJECT NAME=Conditional19>
								<WEBOBJECT NAME=EDTIndividuChoix1></WEBOBJECT>
							</WEBOBJECT>
							<WEBOBJECT NAME=Conditional20>
								<p align="center"><WEBOBJECT NAME=EDTIndividuInfo1></WEBOBJECT></p>
								<p>
								<WEBOBJECT NAME=TabPanel5>
								<!-- <WEBOBJECT NAME=QuotidienneConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><br/></WEBOBJECT>-->
								<WEBOBJECT NAME=HebdomadaireConditional><WEBOBJECT NAME=EDTIndividuChoisi1></WEBOBJECT><br/></WEBOBJECT>
								<WEBOBJECT NAME=MensuelleCalendrierConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><br/></WEBOBJECT>
								<WEBOBJECT NAME=MensuelleTexteConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><br/></WEBOBJECT>
								<WEBOBJECT NAME=TableauDeBordConditional><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT><br/></WEBOBJECT>
								</WEBOBJECT>
								</p>
							</WEBOBJECT>
							<WEBOBJECT NAME=Conditional17>
								<WEBOBJECT NAME=EDTDiplome1></WEBOBJECT>
							</WEBOBJECT><br/>
							<br/>
						</td>
					</tr>
					<WEBOBJECT NAME=Conditional18>
						<tr>
							<td align="center" valign="top">
								<WEBOBJECT NAME=Image1></WEBOBJECT>
							</td>
						</tr>
					</WEBOBJECT>
				</WEBOBJECT>
			</td>
		</tr>
	</WEBOBJECT>
</WEBOBJECT>
