{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "IND_PHOTO"; 
            externalType = VARCHAR2; 
            name = indPhoto; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            columnName = "NO_INDIVIDU"; 
            externalType = NUMBER; 
            name = noIndividu; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "NOM_PATRONYMIQUE"; 
            externalType = VARCHAR2; 
            name = nomPatronymique; 
            valueClassName = NSString; 
            valueType = S; 
            width = 80; 
        }, 
        {
            columnName = "NOM_USUEL"; 
            externalType = VARCHAR2; 
            name = nomUsuel; 
            valueClassName = NSString; 
            valueType = S; 
            width = 80; 
        }, 
        {
            columnName = "PERS_ID"; 
            externalType = NUMBER; 
            name = persId; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = PRENOM; 
            externalType = VARCHAR2; 
            name = prenom; 
            valueClassName = NSString; 
            valueType = S; 
            width = 30; 
        }
    ); 
    attributesUsedForLocking = (indPhoto, noIndividu, nomPatronymique, nomUsuel, persId, prenom); 
    className = "org.cocktail.edtweb.server.metier.IndividuUlr"; 
    classProperties = (indPhoto, noIndividu, nomPatronymique, nomUsuel, persId, prenom); 
    externalName = "GRHUM.INDIVIDU_ULR"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (indPhoto, noIndividu, nomPatronymique, nomUsuel, persId, prenom); 
    }; 
    name = IndividuUlr; 
    primaryKeyAttributes = (noIndividu); 
}
