{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "C_STRUCTURE"; 
            externalType = VARCHAR2; 
            name = cStructure; 
            valueClassName = NSString; 
            valueType = S; 
            width = 10; 
        }, 
        {
            columnName = "D_CREATION"; 
            externalType = DATE; 
            name = dCreation; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = Y; 
            columnName = "D_DEB_VAL"; 
            externalType = DATE; 
            name = dDebVal; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = Y; 
            columnName = "D_FIN_VAL"; 
            externalType = DATE; 
            name = dFinVal; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = "D_MODIFICATION"; 
            externalType = DATE; 
            name = dModification; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = Y; 
            columnName = INDICATIF; 
            externalType = NUMBER; 
            name = indicatif; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            columnName = "NO_TELEPHONE"; 
            externalType = VARCHAR2; 
            name = noTelephone; 
            valueClassName = NSString; 
            valueType = S; 
            width = 14; 
        }, 
        {
            columnName = "PERS_ID"; 
            externalType = NUMBER; 
            name = persId; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            columnName = "TYPE_NO"; 
            externalType = VARCHAR2; 
            name = typeNo; 
            valueClassName = NSString; 
            valueType = S; 
            width = 3; 
        }, 
        {
            columnName = "TYPE_TEL"; 
            externalType = VARCHAR2; 
            name = typeTel; 
            valueClassName = NSString; 
            valueType = S; 
            width = 4; 
        }
    ); 
    attributesUsedForLocking = (
        cStructure, 
        dCreation, 
        dDebVal, 
        dFinVal, 
        dModification, 
        indicatif, 
        noTelephone, 
        persId, 
        typeNo, 
        typeTel
    ); 
    className = "org.cocktail.edtweb.server.metier.PersonneTelephone"; 
    classProperties = (
        cStructure, 
        dCreation, 
        dDebVal, 
        dFinVal, 
        dModification, 
        indicatif, 
        noTelephone, 
        typeNo, 
        typeTel
    ); 
    externalName = "GRHUM.PERSONNE_TELEPHONE"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (cStructure, dCreation, dDebVal, dFinVal, dModification, indicatif); 
    }; 
    name = PersonneTelephone; 
    primaryKeyAttributes = (noTelephone, persId, typeNo, typeTel); 
}
