{
    attributes = (
        {
            columnName = "RESA_KEY"; 
            externalType = NUMBER; 
            name = resaKey; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            allowsNull = Y; 
            columnName = "RESA_SAL_DATE"; 
            externalType = DATE; 
            name = resaSalDate; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = Y; 
            columnName = "RESA_SAL_ETAT"; 
            externalType = VARCHAR2; 
            name = resaSalEtat; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            columnName = "RESA_SAL_KEY"; 
            externalType = NUMBER; 
            name = resaSalKey; 
            valueClassName = NSNumber; 
            valueType = d; 
        }, 
        {
            columnName = "SAL_NUMERO"; 
            externalType = NUMBER; 
            name = salNumero; 
            valueClassName = NSNumber; 
            valueType = d; 
        }
    ); 
    attributesUsedForLocking = (resaKey, resaSalDate, resaSalEtat, resaSalKey, salNumero); 
    className = "org.cocktail.edtweb.server.metier.ResaSalles"; 
    classProperties = (resaSalDate, resaSalEtat, salNumero, toSalles); 
    externalName = "EDTSCOL.RESA_SALLES"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (resaSalDate, resaSalEtat, salNumero, toSalles); 
        "_nameInObjectStore" = "RESA_SALLES"; 
    }; 
    name = ResaSalles; 
    primaryKeyAttributes = (resaSalKey); 
    relationships = (
        {
            destination = Salles; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = salNumero; sourceAttribute = salNumero; }); 
            name = toSalles; 
        }
    ); 
}
