{
    attributes = (
        {
            columnName = COMP_CODE; 
            externalType = VARCHAR2; 
            name = compCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 8; 
        }, 
        {
            columnName = ETAB_CODE; 
            externalType = VARCHAR2; 
            name = etabCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 8; 
        }, 
        {
            allowsNull = Y; 
            columnName = FDIP_ABREVIATION; 
            externalType = VARCHAR2; 
            name = fdipAbreviation; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            columnName = FDIP_ARRIVEE; 
            externalType = NUMBER; 
            name = fdipArrivee; 
            precision = 1; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = FDIP_CODE; 
            externalType = VARCHAR2; 
            name = fdipCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 7; 
        }, 
        {
            columnName = FDIP_CYCLE; 
            externalType = NUMBER; 
            name = fdipCycle; 
            precision = 1; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = FDIP_DEPART; 
            externalType = NUMBER; 
            name = fdipDepart; 
            precision = 1; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = FDIP_LIBELLE; 
            externalType = VARCHAR2; 
            name = fdipLibelle; 
            valueClassName = NSString; 
            valueType = S; 
            width = 200; 
        }, 
        {
            columnName = FDIP_MENTION; 
            externalType = VARCHAR2; 
            name = fdipMention; 
            valueClassName = NSString; 
            valueType = S; 
            width = 200; 
        }, 
        {
            allowsNull = Y; 
            columnName = FDIP_MODELE; 
            externalType = VARCHAR2; 
            name = fdipModele; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            allowsNull = Y; 
            columnName = FDIP_SPECIALITE; 
            externalType = VARCHAR2; 
            name = fdipSpecialite; 
            valueClassName = NSString; 
            valueType = S; 
            width = 200; 
        }, 
        {
            columnName = FDIP_TYPE; 
            externalType = VARCHAR2; 
            name = fdipType; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }, 
        {
            columnName = FDIP_TYPE_DROIT; 
            externalType = VARCHAR2; 
            name = fdipTypeDroit; 
            valueClassName = NSString; 
            valueType = S; 
            width = 2; 
        }, 
        {
            columnName = FDOM_CODE; 
            externalType = VARCHAR2; 
            name = fdomCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }, 
        {
            columnName = FGRA_CODE; 
            externalType = VARCHAR2; 
            name = fgraCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }, 
        {
            columnName = FVOC_CODE; 
            externalType = VARCHAR2; 
            name = fvocCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }, 
        {
            allowsNull = Y; 
            columnName = SREMO_CODE; 
            externalType = VARCHAR2; 
            name = sremoCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 2; 
        }
    ); 
    attributesUsedForLocking = (
        compCode, 
        etabCode, 
        fdipAbreviation, 
        fdipArrivee, 
        fdipCode, 
        fdipCycle, 
        fdipDepart, 
        fdipLibelle, 
        fdipMention, 
        fdipModele, 
        fdipSpecialite, 
        fdipType, 
        fdipTypeDroit, 
        fdomCode, 
        fgraCode, 
        fvocCode, 
        sremoCode
    ); 
    className = EOGenericRecord; 
    classProperties = (
        compCode, 
        etabCode, 
        fdipAbreviation, 
        fdipArrivee, 
        fdipCode, 
        fdipCycle, 
        fdipDepart, 
        fdipLibelle, 
        fdipMention, 
        fdipModele, 
        fdipSpecialite, 
        fdipType, 
        fdipTypeDroit, 
        fdomCode, 
        fgraCode, 
        fvocCode, 
        scolFormationDomaine, 
        scolFormationGrade, 
        scolFormationSpecialisations, 
        sremoCode
    ); 
    externalName = SCOLARITE.SCOL_FORMATION_DIPLOME; 
    fetchSpecificationDictionary = {}; 
    name = ScolFormationDiplome; 
    primaryKeyAttributes = (fdipCode); 
    relationships = (
        {
            destination = ScolFormationDomaine; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = fdomCode; sourceAttribute = fdomCode; }); 
            name = scolFormationDomaine; 
        }, 
        {
            destination = ScolFormationGrade; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = fgraCode; sourceAttribute = fgraCode; }); 
            name = scolFormationGrade; 
        }, 
        {
            destination = ScolFormationSpecialisation; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = fdipCode; sourceAttribute = fdipCode; }); 
            name = scolFormationSpecialisations; 
        }
    ); 
}
