{
    attributes = (
        {
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = "MEC_BASE"; 
            externalType = NUMBER; 
            name = mecBase; 
            precision = 3; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = "MEC_CODE"; 
            externalType = VARCHAR2; 
            name = mecCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 20; 
        }, 
        {
            columnName = "MEC_HORAIRE_ETU"; 
            externalType = NUMBER; 
            name = mecHoraireEtu; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            columnName = "MEC_KEY"; 
            externalType = NUMBER; 
            name = mecKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MEC_LIBELLE"; 
            externalType = VARCHAR2; 
            name = mecLibelle; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MEC_LIBELLE_COURT"; 
            externalType = VARCHAR2; 
            name = mecLibelleCourt; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            columnName = "MEC_POINTS"; 
            externalType = NUMBER; 
            name = mecPoints; 
            precision = 2; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MEC_SESSION1"; 
            externalType = VARCHAR2; 
            name = mecSession1; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MEC_SESSION2"; 
            externalType = VARCHAR2; 
            name = mecSession2; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }
    ); 
    attributesUsedForLocking = (
        fannKey, 
        mecBase, 
        mecCode, 
        mecHoraireEtu, 
        mecKey, 
        mecLibelle, 
        mecLibelleCourt, 
        mecPoints, 
        mecSession1, 
        mecSession2
    ); 
    className = EOGenericRecord; 
    classProperties = (
        fannKey, 
        mecBase, 
        mecCode, 
        mecHoraireEtu, 
        mecKey, 
        mecLibelle, 
        mecLibelleCourt, 
        mecPoints, 
        mecSession1, 
        mecSession2, 
        scolExamenEntetes
    ); 
    externalName = "SCOLARITE.SCOL_MAQUETTE_EC"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_nameInObjectStore" = "SCOL_MAQUETTE_EC"; }; 
    name = ScolMaquetteEc; 
    primaryKeyAttributes = (mecKey); 
    relationships = (
        {
            destination = ScolExamenEntete; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mecKey; sourceAttribute = mecKey; }); 
            name = scolExamenEntetes; 
        }
    ); 
}
