{
    attributes = (
        {
            columnName = FANN_KEY; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = IDIPL_NUMERO; 
            externalType = NUMBER; 
            name = idiplNumero; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = IMRAP_DISPENSE; 
            externalType = NUMBER; 
            name = imrapDispense; 
            precision = 2; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = IMRAP_SEMESTRE; 
            externalType = NUMBER; 
            name = imrapSemestre; 
            precision = 1; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = MRAP_KEY; 
            externalType = NUMBER; 
            name = mrapKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = l; 
        }
    ); 
    attributesUsedForLocking = (idiplNumero, mrapKey, imrapSemestre, imrapDispense, fannKey); 
    className = EOGenericRecord; 
    classProperties = (imrapDispense, scolMaquetteRepartitionAp, mrapKey); 
    externalName = SCOLARITE.SCOL_INSCRIPTION_AP; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        _clientClassPropertyNames = (imrapDispense, scolMaquetteRepartitionAp, mrapKey); 
    }; 
    name = ScolInscriptionAp; 
    primaryKeyAttributes = (mrapKey, imrapSemestre, idiplNumero); 
    relationships = (
        {
            destination = ScolMaquetteRepartitionAp; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOLeftOuterJoin; 
            joins = ({destinationAttribute = mrapKey; sourceAttribute = mrapKey; }); 
            name = scolMaquetteRepartitionAp; 
        }
    ); 
}
