<WEBOBJECT NAME=Conditional1>
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
			<td align="center" height="20"><WEBOBJECT NAME=Form1><WEBOBJECT NAME=Conditional3><WEBOBJECT NAME=SubmitButton2></WEBOBJECT></WEBOBJECT></WEBOBJECT>
			</td>
		</tr>
		<tr>
			<td align="center" height="1">
				<WEBOBJECT NAME=Image1></WEBOBJECT>
			</td>
		</tr>
		<tr>
			<td valign="top" align="left"><WEBOBJECT NAME=SwitchComponent1></WEBOBJECT></td>
		</tr>
	</table>
</WEBOBJECT>
<WEBOBJECT NAME=Conditional2>
	<p><WEBOBJECT NAME=EnregistrementOccupationIndividu1></WEBOBJECT></p>
</WEBOBJECT>