<WEBOBJECT NAME=GenericContainer1>
	<tr>
	<WEBOBJECT NAME=GenericContainer2>
		<b>Ajouter une r&eacute;servation</b>
	</WEBOBJECT>
	</tr>
	<tr>
	<WEBOBJECT NAME=GenericContainer3>
		<WEBOBJECT NAME=Conditional3>
			<WEBOBJECT NAME=Hyperlink1>Cliquez ici pour ajouter une r&eacute;servation</WEBOBJECT>
		</WEBOBJECT>
		<WEBOBJECT NAME=Conditional2>
			<WEBOBJECT NAME=Form1>
				<b>Du</b> <WEBOBJECT NAME=PopUpButton1></WEBOBJECT><WEBOBJECT NAME=PopUpButton2></WEBOBJECT><WEBOBJECT NAME=PopUpButton3></WEBOBJECT><br/>
				<b>&agrave;</b> <WEBOBJECT NAME=PopUpButton4></WEBOBJECT>:<WEBOBJECT NAME=PopUpButton5></WEBOBJECT><br/>
				<br/>
				<b>Au</b> <WEBOBJECT NAME=PopUpButton8></WEBOBJECT><WEBOBJECT NAME=PopUpButton9></WEBOBJECT><WEBOBJECT NAME=PopUpButton10></WEBOBJECT><br/>
				<b>&agrave;</b> <WEBOBJECT NAME=PopUpButton6></WEBOBJECT>:<WEBOBJECT NAME=PopUpButton7></WEBOBJECT><br/>
				<br/>
				<WEBOBJECT NAME=SubmitButton1></WEBOBJECT><br/>
				<WEBOBJECT NAME=Conditional4>
					<br/>
					<WEBOBJECT NAME=CheckBox1></WEBOBJECT>Journee entiere &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<WEBOBJECT NAME=CheckBox2></WEBOBJECT>Periodique<br/>
				</WEBOBJECT><br/>
				<WEBOBJECT NAME=SubmitButton2></WEBOBJECT><WEBOBJECT NAME=SubmitButton5></WEBOBJECT><br/>
			</WEBOBJECT>
			<WEBOBJECT NAME=Conditional1>
				<font color="#cb4800"><WEBOBJECT NAME=String1></WEBOBJECT></font>
			</WEBOBJECT>
		</WEBOBJECT>
	</WEBOBJECT>
	</tr>
	<tr align="center">
	<WEBOBJECT NAME=GenericContainer4>
		<WEBOBJECT NAME=Form2>
			<WEBOBJECT NAME=SubmitButton3></WEBOBJECT>
		</WEBOBJECT>
	</WEBOBJECT>
	</tr>
	<WEBOBJECT NAME=Conditional5>
	<tr>
	<WEBOBJECT NAME=GenericContainer5>
		Cliquer sur une zone libre pour choisir le d&eacute;but de l'horaire,<br/>
		cliquer ensuite pour choisir la fin de l'horaire.
	</WEBOBJECT>
	</tr>
	</WEBOBJECT>
</WEBOBJECT>
