<br/>
<table WIDTH="100%">
	<tr>
	<td align="center" height="1">
		<WEBOBJECT NAME=Image3></WEBOBJECT>
	</td>
</tr>
</table>
<br/>
<WEBOBJECT NAME=GenericContainer1>
	<tr>
		<WEBOBJECT NAME=GenericContainer2>
			<b>Carnet de bord</b>
		</WEBOBJECT>
	</tr>
	<WEBOBJECT NAME=GenericContainer3>
		<th colspan="2" height="20">
			<WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=Image2></WEBOBJECT></WEBOBJECT>
			<WEBOBJECT NAME=Hyperlink2><WEBOBJECT NAME=Image1></WEBOBJECT></WEBOBJECT>
		</th>
	</WEBOBJECT>
	<tr>
		<WEBOBJECT NAME=GenericContainer4>
			<br/>
			<b>Durant l'ann&eacute;e suivant la date courante, il y a <WEBOBJECT NAME=String2></WEBOBJECT> &eacute;v&eacute;nements dans votre agenda.</b><br/>
			<br/>
			<br/>
		</WEBOBJECT>
	</tr>
	<WEBOBJECT NAME=Repetition1>
		<tr>
			<td colspan="2" BGcolor="#ffffff">
				<WEBOBJECT NAME=String1></WEBOBJECT><br/>
				<br/>
			</td>
		</tr>
	</WEBOBJECT>
</WEBOBJECT>
