<WEBOBJECT NAME=Conditional2>
<table border="0" cellspacing="0">
	<tr>
		<td align="center" valign="top"><WEBOBJECT NAME=Conditional1><WEBOBJECT NAME=Image1></WEBOBJECT><br/>
		</WEBOBJECT><b><font FACE="Helvetica, Sans-Serif"><font color="#000000"><WEBOBJECT NAME=String1></WEBOBJECT>&nbsp;&nbsp;</font><WEBOBJECT
			NAME=String3></WEBOBJECT><font color="#000000">&nbsp;&nbsp;<WEBOBJECT NAME=String4></WEBOBJECT>&nbsp;&nbsp;<br/>
		</font></font></b><b><font FACE="Helvetica, Sans-Serif"><font color="#000000"><WEBOBJECT NAME=String6></WEBOBJECT></font></font></b><b><font
			FACE="Helvetica, Sans-Serif"><font color="#000000"><br/>
		</font></font></b><br/>
		</td>
	</tr>
	<tr>
		<td align="left" valign="top"></td>
	</tr>
	<tr>
		<td align="center"><br/>
		<WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=Image2></WEBOBJECT><br/>
		Agenda iCAL</WEBOBJECT></td>
	</tr>
</table>
</WEBOBJECT>
<table border="0" cellspacing="0">
	<tr>
		<td align="center" valign="middle">
			<b><font FACE="Helvetica, Sans-Serif">
				<font color="#000000">
					<WEBOBJECT NAME=String8></WEBOBJECT>&nbsp;&nbsp;
				</font>
				<WEBOBJECT NAME=String7></WEBOBJECT>
				<font color="#000000">&nbsp;&nbsp;
					<WEBOBJECT NAME=String5></WEBOBJECT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</font>
			</font></b>
			<b><font FACE="Helvetica, Sans-Serif">
				<font color="#000000">
					<WEBOBJECT NAME=String9></WEBOBJECT>
				</font>
			</font></b>
			<b><font FACE="Helvetica, Sans-Serif">
				<font color="#000000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</font>
			</font></b>
			<WEBOBJECT NAME=Hyperlink4>
				<WEBOBJECT NAME=String2></WEBOBJECT>
			</WEBOBJECT>
			<b><font FACE="Helvetica, Sans-Serif">
				<font color="#000000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</font>
			</font></b>
		</td>
	</tr>
	<WEBOBJECT NAME=Conditional4>
	<tr>
		<td align="center" valign="middle">
			<WEBOBJECT NAME=Hyperlink2>
				<WEBOBJECT NAME=Image3></WEBOBJECT> Agenda iCAL
			</WEBOBJECT>
		</td>
	</tr>
	</WEBOBJECT>
	<tr>
		<td align="left" valign="top"><br/></td>
	</tr>
</table>
